[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "homedir/.vim/bundle/Vundle.vim"]
	path = homedir/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
